* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

body > div {
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #ffa2cb;
}

.content {
    background-color: #fee5f0;
    flex: 1;

    flex-direction: column;
}

.content > div {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.status {
    font-size: 24px;
}

.gameboard {
    background-color: #f83c86;
    padding: 10px;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, 125px));
    grid-template-columns: repeat(3, minmax(100px, 125px));
}

.gameboard div.cell {
    background-color: #fef1f7;
    border: 1px solid #f83c86;
    font-size: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard div.cell:hover {
    background-color: #fee5f0;
}

button {
    background-color: #f83c86;
    width: 125px;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 1em;
}

button:hover {
    background-color: #e91f64;
}

.footer {
    background-color: #ffa2cb;
}